
.menu {
    display: flex;
    
}

.menu p{
    color: white;
    margin: 0px;
    margin-top: 4px;
}

ul {
    display: flex;
    justify-content: flex-end;
}

ul li {
    border: solid black;
}

.scrollable-table {

    max-height: 300px;

    overflow-y: auto;

}