header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
#boton-inicio {
    border-radius: 5px;
    width: 115px;
    height: 32px;
    margin-right: 20px;
    background-color: var(--borde-Grilla);
    border: 0px;
}

#boton-inicio a{
    background-color: var(--borde-Grilla);
    color: black;
    font-weight: bold;
    font-size: 12px;
}

nav div{
    display: flex;  

}

nav div button{
    border-radius: 20px;
    height: 28px;
}

nav div select{
    margin-left: 20px;
    margin-right: 20px;
}

.seleccionable-diputado-senadores{
    width: 10px;
    padding-left: 19px;
    background-color: var(--fondo-Menu);
    color: white;
    border: none;
    margin-left: 5px;
}

label{
    color: white;
    font-size: 15px;
}

#seleccionable-año{
    margin-left: 50px;

}

nav div input{
    margin-right: 20px;
    border-radius: 18px;

}

nav div input::placeholder{
    text-align: center;

}